// Fonts
// $display-font: ;
// $serif-font: ;
// $sans-font: ;

// Type Scale
$type-scale: (
  xs:   100px,
  s:    200px,
  m:    300px,
  l:    400px,
  xl:   500px
);

// Spacing
$gap: (
  xs:   100px,
  s:    200px,
  m:    300px,
  l:    400px,
  xl:   500px
);

// Responsive Breakpoints
$breakpoints: (
  xs:   100px,
  s:    200px,
  m:    300px,
  l:    400px,
  xl:   500px
);

// Colors
$primary-color: #2B3A42;
$accenct-color: #111;
